@tailwind base;
@tailwind components;
@tailwind utilities;

/* .home {

    background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('../app/assets/suiiiiiiiiiii.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.landing-bg{
    background-image: url('../app/assets/replacement.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.other-bg{
    background-image: url('../app/assets/image_new.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.hero-bg {
    background-image: url('/images/img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-bg {
    background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('/images/img9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.roadmap-bg {
    background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('/images/img6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}